body {
font-family: "roboto"; 
max-width: 1600px; 

}




figure.heroimage img, figure.heroimage img {width: 100%; max-width: 1600px;}
figure.heroimage {width: 100%;  margin: 0px auto;}


.companyname, .companyslogan {
    font-family: 'roboto';  
    position: absolute;  
    color: white; 
    left: 45px;
    font-weight: 900;
    
    
}



.companyname { 
    font-size: 36px;   
    top: 5px; 
    
}

.companyslogan {
    font-size: 30px; 
    padding-top: 50px;   
    top: 15px;   
}


.companynamepage {
    margin-top: 10px; 
    padding-left: 35px;   
    padding-top: 30px; 
    padding-bottom: 10px; 
    
}



.skills {
    padding-left: 40px;
    background-color: #c0c0c0; 
    padding-top: 30px; 
    padding-bottom: 30px;
    font-size: 36px;
    font-variant: all-small-caps;
   
}


.listofskills {
    padding-left: 70px; 
    font-size: 20px; 
    
}

.hotels {
    border: 1px solid navy;
    margin: 0px auto; 
    list-style-type: none; 
    width: 50%;     



}
.hotels li {
    padding: 10px; 
    font-size: 20px; 
    text-decoration: none; 
    text-align: left; 
    background-color: navy; 
   

}

.hotels li a {
    color: white; 

}


.hotels li a:visited, li a:link {
    color: white; 
    text-decoration: none; 

}


.hotels li a:hover {
    color: navy; 
    background-color: white;
    width: 100%; 
    text-decoration: none; 

}


.info {
    padding-left: 50px; 
    font-size: 20px; 
    border: 1px solid navy; 


}

.images {
    margin: 5px auto; 
    width: 500; 
    height: 300px; 
    margin-bottom: 20px; 
    z-index: 1000; 
    padding: 20px; 
}

.copyright {
    text-align: center; 
    font-size: 14px;
    margin-top: 50px; 
    padding: 5px; 
    background-color: #c0c0c0; 
    color: black; 
   
    
}

